<div class="{{cssClass}} {{type}}">
	
	<input id="physicalArmorHU1" type="number" name="system.physicalArmorHU1" value="{{system.physicalArmorHU1}}" data-dtype="Number"/>
	<input id="physicalArmorHU2" type="number" name="system.physicalArmorHU2" value="{{system.physicalArmorHU2}}" data-dtype="Number"/>
	<input id="physicalArmorA" type="number" name="system.physicalArmorA" value="{{system.physicalArmorA}}" data-dtype="Number"/>
	<input id="physicalArmorArrowAB" type="checkbox" name="system.physicalArmorArrowAB" {{checked system.physicalArmorArrowAB}} data-dtype="Boolean"/>
	<input id="physicalArmorB" type="number" name="system.physicalArmorB" value="{{system.physicalArmorB}}" data-dtype="Number"/>
	<input id="physicalArmorArrowBC" type="checkbox" name="system.physicalArmorArrowBC" {{checked system.physicalArmorArrowBC}} data-dtype="Boolean"/>
	<input id="physicalArmorC" type="number" name="system.physicalArmorC" value="{{system.physicalArmorC}}" data-dtype="Number"/>
	<input id="physicalArmorD" type="number" name="system.physicalArmorD" value="{{system.physicalArmorD}}" data-dtype="Number"/>
	<input id="physicalArmorArrowED" type="checkbox" name="system.physicalArmorArrowED" {{checked system.physicalArmorArrowED}} data-dtype="Boolean"/>
	<input id="physicalArmorE" type="number" name="system.physicalArmorE" value="{{system.physicalArmorE}}" data-dtype="Number"/>
	<input id="physicalArmorArrowFE" type="checkbox" name="system.physicalArmorArrowFE" {{checked system.physicalArmorArrowFE}} data-dtype="Boolean"/>
	<input id="physicalArmorF" type="number" name="system.physicalArmorF" value="{{system.physicalArmorF}}" data-dtype="Number"/>
	<input id="physicalModSU" type="number" name="system.physicalModSU" value="{{system.physicalModSU}}" data-dtype="Number"/>
	<input id="physicalModRD" type="number" name="system.physicalModRD" value="{{system.physicalModRD}}" data-dtype="Number"/>
	<input id="mentalModSU" type="number" name="system.mentalModSU" value="{{system.mentalModSU}}" data-dtype="Number"/>
	<input id="mentalModRD" type="number" name="system.mentalModRD" value="{{system.mentalModRD}}" data-dtype="Number"/>
	
	<input id="mojo" type="number" name="system.mojo.value" value="{{system.mojo.value}}" data-dtype="Number"/>
	<input id="mojoMax" type="number" name="system.mojo.max" value="{{system.mojo.max}}" data-dtype="Number"/>
	
	<img id="portrait" src="{{actor.img}}" data-action="editImage" data-edit="img" width="270px" height="460px"/>
	
	<input id="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
	<input id="nickname" type="text" name="system.nickname" value="{{system.nickname}}" data-dtype="String"/>
	<input id="nationality" type="text" name="system.nationality" value="{{system.nationality}}" data-dtype="String"/>
	<input id="gender" type="text" name="system.gender" value="{{system.gender}}" data-dtype="String"/>
	<input id="surname" type="text" name="system.surname" value="{{system.surname}}" data-dtype="String"/>
	<input id="age" type="number" name="system.age" value="{{system.age}}" data-dtype="Number"/>
	<input id="profession" type="text" name="system.profession" value="{{system.profession}}" data-dtype="String"/>
	<input id="organisation" type="text" name="system.organisation" value="{{system.organisation}}" data-dtype="String"/>
	<input id="role" type="text" name="system.role" value="{{system.role}}" data-dtype="String"/>
	<input id="trait-line1" type="text" name="system.traits.line1" value="{{system.traits.line1}}" data-dtype="String"/>
	<input id="trait-line2" type="text" name="system.traits.line2" value="{{system.traits.line2}}" data-dtype="String"/>
	<input id="trait-line3" type="text" name="system.traits.line3" value="{{system.traits.line3}}" data-dtype="String"/>
	<input id="trait-line4" type="text" name="system.traits.line4" value="{{system.traits.line4}}" data-dtype="String"/>

	<input id="skill-wit" type="number" name="system.skill.wit" value="{{system.skill.wit}}" data-dtype="Number"/>
	<input id="skill-force" type="number" name="system.skill.force" value="{{system.skill.force}}" data-dtype="Number"/>
	<input id="skill-athletics" type="number" name="system.skill.athletics" value="{{system.skill.athletics}}" data-dtype="Number"/>
	<input id="skill-persuasion" type="number" name="system.skill.persuasion" value="{{system.skill.persuasion}}" data-dtype="Number"/>
	<input id="skill-crafting" type="number" name="system.skill.crafting" value="{{system.skill.crafting}}" data-dtype="Number"/>
	<input id="skill-pilot" type="number" name="system.skill.pilot" value="{{system.skill.pilot}}" data-dtype="Number"/>
	<input id="skill-espionage" type="number" name="system.skill.espionage" value="{{system.skill.espionage}}" data-dtype="Number"/>
	<input id="skill-survival" type="number" name="system.skill.survival" value="{{system.skill.survival}}" data-dtype="Number"/>
	<input id="skill-marksmanship" type="number" name="system.skill.marksmanship" value="{{system.skill.marksmanship}}" data-dtype="Number"/>
	
	<input id="skill-naturalSciences" type="number" name="system.skill.naturalSciences" value="{{system.skill.naturalSciences}}" data-dtype="Number"/>
	<input id="skill-socialSciences" type="number" name="system.skill.socialSciences" value="{{system.skill.socialSciences}}" data-dtype="Number"/>
	<input id="skill-formalSciences" type="number" name="system.skill.formalSciences" value="{{system.skill.formalSciences}}" data-dtype="Number"/>
	<input id="skill-lifeSciences" type="number" name="system.skill.lifeSciences" value="{{system.skill.lifeSciences}}" data-dtype="Number"/>
	<input id="skill-appliedSciences" type="number" name="system.skill.appliedSciences" value="{{system.skill.appliedSciences}}" data-dtype="Number"/>
	<input id="skill-humanSicences" type="number" name="system.skill.humanSicences" value="{{system.skill.humanSicences}}" data-dtype="Number"/>
	<input id="skill-language" type="number" name="system.skill.language" value="{{system.skill.language}}" data-dtype="Number"/>
	<input id="skill-healthSciences" type="number" name="system.skill.healthSciences" value="{{system.skill.healthSciences}}" data-dtype="Number"/>
	<input id="skill-meleeCombat" type="number" name="system.skill.meleeCombat" value="{{system.skill.meleeCombat}}" data-dtype="Number"/>
	
	<input id="mutations-line1" type="text" name="system.mutations.line1" value="{{system.mutations.line1}}" data-dtype="String"/>
	<input id="mutations-line2" type="text" name="system.mutations.line2" value="{{system.mutations.line2}}" data-dtype="String"/>
	<input id="mutations-line3" type="text" name="system.mutations.line3" value="{{system.mutations.line3}}" data-dtype="String"/>
	
	<input id="brokenCondition" type="text" name="system.brokenCondition" value="{{system.brokenCondition}}" data-dtype="String"/>
	
	<input id="trauma-line1" type="text" name="system.trauma.line1" value="{{system.trauma.line1}}" data-dtype="String"/>
	<input id="trauma-line2" type="text" name="system.trauma.line2" value="{{system.trauma.line2}}" data-dtype="String"/>
</div>